@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ignition Safety - Be Safe</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <meta name="description" content="Postman is the complete toolchain for API developers, used by more than 3 million developers and 30,000 companies worldwide. Postman makes working with APIs faster and easier by supporting developers at every stage of their workflow, and is available for Mac OS X, Windows, Linux and Chrome users.">
    <!-- URL unfurling metadata - Facebook Open Graph format -->
    <meta property="og:title" content="Postman" />
    <meta property="og:description" content="Postman is the complete toolchain for API developers, used by more than 3 million developers and 30,000 companies worldwide. Postman makes working with APIs faster and easier by supporting developers at every stage of their workflow, and is available for Mac OS X, Windows, Linux and Chrome users." />
    <meta property="og:site_name" content="Postman" />
    <meta property="og:image" content="/img/v2/logo-glyph.png" />
    <!-- URL unfurling metadata - Twitter card tags -->
    <meta name="twitter:title" value="Postman" />
    <meta name="twitter:description" value="Postman is the complete toolchain for API developers, used by more than 3 million developers and 30,000 companies worldwide. Postman makes working with APIs faster and easier by supporting developers at every stage of their workflow, and is available for Mac OS X, Windows, Linux and Chrome users." />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" value="https://www.getpostman.com/" />
    <meta name="twitter:image" content="/img/v2/logo-glyph.png" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/HomeCss.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fhbjgbiflinjbdggehcddcbncdddomop">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="homepage">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M42M5N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M42M5N');
        var disableOverlaySignin = false;
    </script>
    <!-- End Google Tag Manager -->
    <div class="hero-image">
        <div id="menu-overlay"></div>
        <div id="header" class="header-container hero-header-container clearfix homepage-header-container">
            <div id="menu-toggle"></div>
            <div id="menu-toggle-overlay"></div>
            <a href="/" class="logo-container"></a>
            <div class="navigation-container">
                <ul>
                    <li></li>
                <!--
                <li><a href="/pricing" class="pm-btn pm-btn-transparent">Pricing</a></li>
                <li><a href="/docs/" class="pm-btn pm-btn-transparent">Documentation</a></li>
                <li></li>
                    -->
                    <li><a href="account/login" class="pm-btn pm-btn-sm pm-btn-primary sign-in-button hide-if-signedin">Sign in</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="hero-logo"></div>
            <div class="hero-content">
                <div class="row">
                    <h1 class="postman-tagline">Safety planning is important.</h1>
                </div>
                <div class="row">
                    <h1 class="postman-tagline">Ignition Safety makes it easy.</h1>
                </div>
                
            </div>
        </div>
    </div>
<div class="cloud-promo">
    <div class="container"><span>Are you responsible for safety at your company? <strong>Get going now!</strong></span><a href="account\signup">Start a 7-day free trial of Ignition Safety</a></div>
</div>
<!--
<div class="section usage-metrics">
        
</div>-->
<div class="row col-md-10 col-md-offset-1">
    <div class="col-md-4 homepage__slide-contents">
        <li>
            <h4>When the time comes</h4>
            <p>
                During a drill or actual emergency gather your team members into safety zones.  Use Ignition Safety on your mobile device to account for team members
                as they arrive in a safety zone.  At any time you can see which team members in which safety zones need to be accounted for.
            </p>
        </li>
    </div>
    <div class="col-md-4 homepage__slide-contents">
        <li>
            <h4>Faster, easier configuration</h4>
            <p>Create a team list from your HR sytem and upload it to Ignition Safety</p>
        </li>
    </div>
    <div class="col-md-4 homepage__slide-contents">
        <li>
            <h4>Create Your Safety Team</h4>
            <p>Invite members of your team to be safety leaders. These people will pull the team together and use their mobile device to account for who is present during a drill or actual emergency.</p>
        </li>
    </div>

</div>
<div class="row col-md-10 col-md-offset-1">
    <div class="col-md-4 homepage__slide-contents">
        <li>
            <h4>Pricing</h4>
            <p>Ignition Safety costs $12/month for 5 users.  Additional users are $1.50/month.  A user is a person that can login to the application such as a safety leader or HR manager.  
                A user is not an employee that will be on your safety roster but will not login.
                If you want to pay for a full year of service pay just $119 for 5 users.</p>
            <p><a href="account\signup">Start a 7-day free trial of Ignition Safety</a></p>
        </li>
    </div>
</div>
  
    
</html>