@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model IS.Web.Components.Dtos.DepartmentDto

@{
    ViewBag.Title = "Upload Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Caption
{Delete Department}


@section SideNav {
    @Html.Partial( "~/Views/Shared/_AdminSideNav.cshtml", null, new ViewDataDictionary( ViewData ) { { "SelectedNavText", "Safety Zones" } } ) )
}

@section TopButtons
{
    @Html.ActionLink( "Cancel", "Departments", new { controller = "admin" }, new { @class = "btn btn-default" } )
    <input type="button" class="btn btn-primary" value="Delete" onclick="$('#detail-form').submit();" />
}
<form id="detail-form" action="delete" method="post" class="form-horizontal">
    <div class="section col-md-8 col-md-offset-2">
        <div class="section-content">
            <div class="section-row">
                <div class="section-cell">
                    @Html.Partial( "DepartmentDetail", Model )
                </div>
            </div>
        </div>
    </div>
</form>