@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model IS.Web.Components.Dtos.TeamRosterMemberDto

@{
    ViewBag.Title = "Upload Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Caption
{Team}


@section SideNav {
    @Html.Partial( "~/Views/Shared/_AdminSideNav.cshtml", null, new ViewDataDictionary( ViewData ) { { "SelectedNavText", "Team Roster" } } ) )
}

@section TopButtons
{
    <a class="btn btn-danger" href="delete/@Model.Id">Delete</a>
    @Html.ActionLink( "Cancel", "teamroster", new { controller = "admin" }, new { @class = "btn btn-default" } )
    <input type="button" class="btn btn-primary" value="Save" onclick="$('#detail-form').submit();" />
}

<form id="detail-form" action="edit" method="post" class="form-horizontal">
   @Html.Partial( "TeamRosterDetail", Model )
</form>
